body {
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center;
  height: 100vh;
}

.container {
  display: flex;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
  width: 430px;
}
.item {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background-color: rgb(35, 48, 59);
  transition: .35s;
  cursor: pointer;
}
.container:hover > :not(:hover) {
  opacity: .5;
  transform: scale(0.9);
}